*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
}
body{
background-color:black;
}
.container{
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;
    gap: 10px;
    padding: 10px;
}
.first{
    background-color: orange;
}
.second{
    background-color: green;
}
.third{
    background-color: brown;
}
.fourth{
    background-color: blue;
}