.container{
    height: 400px;
    width: 400px;
    font-size: 50px;
    background-color: aqua;
}
@media screen and (min-width:600px) {
    .container{
       
        background-color: pink;
        font-size: 30px;
    }
}
 @media screen and (min-width:900px) {
    .container{
        
        background-color: rgb(244, 17, 55);
        font-size: 60px;
    }
}